{% extends 'base.html' %}
{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
<h1>Lista de Usuarios</h1>
<table>
    <thead>
        <tr><th>Nombre</th><th>Email</th><th>Fecha Registro</th></tr>
    </thead>
    <tbody>
    {% for u in usuarios %}
        <tr>
            <td>{{ u.nombre }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.fecha_registro.strftime("%d/%m/%Y %H:%M") if u.fecha_registro else '' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
